<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.edu.fudan.daoleme">

    <uses-sdk tools:overrideLibrary="cn.edu.fudan.daoleme.net" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DLMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- application entrance -->
        <activity android:name=".module.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.SettingActivity" />
        <activity android:name=".module.AboutActivity" />
        <activity android:name=".module.LoginActivity" />
        <activity android:name=".module.RegisterActivity" />
        <activity android:name=".module.DeliveryDetailActivity" />
        <activity android:name=".module.MyDeliveryActivity" />
        <activity android:name=".module.TestActivity"></activity>

        <!-- provider -->
        <provider
            android:authorities="cn.edu.fudan.daoleme.deliveryDB"
            android:name=".data.DeliveryProvider"/>

    </application>

</manifest>
